.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .lead__title {
    width: calc(100% - (24px*2));
  }
}

@media (max-width: 735px) {
  .lead__title {
    font-size: 80px;
  }
}

@media (max-width: 620px) {
  .lead__title {
    font-size: 64px;
  }
}

@media (max-width: 510px) {
  .lead__title {
    font-size: 48px;
  }
}

@media (max-width: 425px) {
  .lead__title {
    width: calc(100% - (16px*2));
    font-size: 40px;
    line-height: 1.1;
  }
}
